<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- stdout appender定义 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{68} %line - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DEBUGOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{68} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志文件 appender定义 -->
    <appender name="lbcAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${HOME}/logs/otp-demo/app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME}/logs/otp-demo/app.log.%d</fileNamePattern>
            <maxHistory>90</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- sql 日志 appender定义 -->
    <appender name="sqlAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${HOME}/logs/otp-demo/sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME}/logs/otp-demo/sql.log.%d
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{68} %line - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- service日志 -->
    <appender name="serviceAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${HOME}/logs/otp-demo/service.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME}/logs/otp-demo/service.log.%d
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- request日志 -->
    <appender name="requestAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${HOME}/logs/otp-demo/request.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME}/logs/otp-demo/request.log.%d
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- error日志 -->
    <appender name="lbcErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <File>${HOME}/logs/otp-demo/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${HOME}/logs/otp-demo/error.log.%d
            </FileNamePattern>
            <maxHistory>90</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d [%thread][%X{contextUuid}][%X{hostName}][%X{userName}][%X{requestTime}] %-5level %logger{68} %line - %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="com.wjs.otp-demo" additivity="false">
        <level value="INFO" />
        <appender-ref ref="lbcAppender" />
        <appender-ref ref="lbcErrorAppender" />
    </logger>

    <logger name="com.wjs.common.log.LbcMybatisInterceptor" additivity="false">
        <level value="INFO" />
        <appender-ref ref="sqlAppender" />
    </logger>
    
    
    <logger name="com.wjs.otp-demo.common.interceptors.SecurityInterceptor" additivity="false">
        <appender-ref ref="requestAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="lbcAppender" />
    </root> 
</configuration>

